header {
    background-image: url('../img/bannerNew.PNG');
    background-size: cover;
    
    background-position: right;
    background-attachment: fixed;
    min-height: 700px;
    padding-top: 75px;
    .navbar-collapse {
        position: relative;
    }
    .navbar {
        max-height: 72px;
        padding-top: 24px;
    }
    .navbar-brand {
        @include styleText($white-1, 25px, 400);
    }
    .collapse {
        .navbar-nav {
            flex-direction: row;
            .nav-item {
                margin-left: 0 !important;
            }
        }
    }
    .nav-link {
        @include styleText($white-1, 18px, 400);
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }

    .nav-link span {
        display: block;
    }

    .cart {
        position: absolute;
        right: 0;
    }
    .nav-item {
        #showTotalCount {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            font-size: 14px;
            background-color: red;
            border-radius: 50px;
            font-weight: 900;
        }
    }
    .header-content {
        padding-top: 100px;
    }

    .header-left {
        h3 {
            @include styleText($white-1, 40px, 300);
        }
        p {
            @include styleText($grey-1, 18px, 400);
            text-align: justify;
        }
    }
    .header-right {
        align-items: center;
        img {
            width: 100%;
            border-radius: 10px;
            transition: all ease-out 0.3s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

// RESPONSIVE

@media screen and (max-width: 992px) {
    header {
        .navbar-brand {
            @include styleText($white-1, 23px, 400);
        }

        button.navbar-toggler {
            font-size: 18px;
            padding: 2px 6px;
        }
        .header-content {
            padding-top: 20px;
        }

        .header-left {
            h3 {
                @include styleText($white-1, 35px, 300);
            }
            p {
                @include styleText($grey-1, 16px, 400);
                text-align: justify;
            }
        }

        .header-btn {
            padding: 13px 14px;
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 576px) {
    header {
        min-height: 500px;
        .navbar-brand {
            @include styleText($white-1, 20px, 400);
        }

        button.navbar-toggler {
            font-size: 18px;
            padding: 2px 6px;
        }

        .nav-link {
            @include styleText($white-1, 16px, 400);
        }

        .header-content {
            padding-top: 20px;
        }

        .header-left {
            h3 {
                @include styleText($white-1, 20px, 300);
            }
            p {
                @include styleText($grey-1, 14px, 400);
                text-align: justify;
            }
        }

        .header-btn {
            padding: 11px 10px;
            font-size: 13px;
        }
    }
}
