header {
    background-image: url(/customer/assets/img/banner.webp);
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    padding-top: 110px;
    .navbar-collapse {
        position: relative;
    }

    .navbar-brand {
        @include styleText($white-1, 25px, 400);
    }
    .collapse{
        .navbar-nav{
            flex-direction: row;
            .nav-item{
                margin-left: 0!important;
            }
        }
    }
    .nav-link {
        @include styleText($white-1, 18px, 400);
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }

    .nav-link span {
        display: block;
    }

    .cart {
        position: absolute;
        right: 0;
    }

    .header-content {
        padding-top: 100px;
    }

    .header-left {
        h3 {
            @include styleText($white-1, 40px, 300);
        }
        p {
            @include styleText($grey-1, 18px, 400);
            text-align: justify;
        }
    }
    .header-right {
        align-items: center;
        img {
            width: 100%;
            border-radius: 10px;
            transition: all ease-out 0.3s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
