button {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#6d9a0c 0,#1a6d07 51%,#abd685 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;

    &:hover {
        background-position: right center;
        transform: scale(1.05);
    }
}