* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.product .nav-link.active {
  background-color: green;
}

body .navbar {
  position: fixed;
  z-index: 2;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
body .navbar .navbar-toggler {
  background-color: #fff;
}
body .navbar .navbar-toggler .navbar-toggler-icon i {
  font-size: 30px;
}

@media screen and (min-width: 1200px) {
  .navWidth {
    min-width: 1130px;
  }
}
@media screen and (max-width: 1199px) {
  .navWidth {
    min-width: 960px;
  }
  body .cartBox {
    width: 50%;
  }
  body .cartBox .cart__footer .btnCartGr button {
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .navWidth {
    min-width: 720px;
  }
}
@media screen and (max-width: 767.8px) {
  .navWidth {
    min-width: 540px;
  }
  body .cartBox {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .navWidth {
    min-width: 90%;
  }
  body .cartBox {
    width: 100%;
  }
}
.btnStyle {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(to right, #6d9a0c 0, #1a6d07 51%, #abd685 100%);
  background-repeat: no-repeat;
  background-size: 200%;
  border: 0px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
}
.btnStyle:hover {
  background-position: right center;
  scale: 105%;
}

.btnAddtoCart {
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
}

header {
  background-image: url(/customer/assets/img/banner.webp);
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  padding-top: 75px;
}
header .navbar-collapse {
  position: relative;
}
header .navbar {
  max-height: 65px;
}
header .navbar-brand {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
}
header .collapse .navbar-nav {
  flex-direction: row;
}
header .collapse .navbar-nav .nav-item {
  margin-left: 0 !important;
}
header .nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}
header .nav-link:hover {
  transform: scale(1.1);
}
header .nav-link span {
  display: block;
}
header .cart {
  position: absolute;
  right: 0;
}
header .header-content {
  padding-top: 100px;
}
header .header-left h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
}
header .header-left p {
  color: #ccc;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
}
header .header-right {
  align-items: center;
}
header .header-right img {
  width: 100%;
  border-radius: 10px;
  transition: all ease-out 0.3s;
}
header .header-right img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 992px) {
  header .navbar-brand {
    color: #fff;
    font-size: 23px;
    font-weight: 400;
  }
  header button.navbar-toggler {
    font-size: 18px;
    padding: 2px 6px;
  }
  header .header-content {
    padding-top: 20px;
  }
  header .header-left h3 {
    color: #fff;
    font-size: 35px;
    font-weight: 300;
  }
  header .header-left p {
    color: #ccc;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
  }
  header .header-btn {
    padding: 13px 14px;
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  header {
    min-height: 500px;
  }
  header .navbar-brand {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
  header button.navbar-toggler {
    font-size: 18px;
    padding: 2px 6px;
  }
  header .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  header .header-content {
    padding-top: 20px;
  }
  header .header-left h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
  }
  header .header-left p {
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
  }
  header .header-btn {
    padding: 11px 10px;
    font-size: 13px;
  }
}
.product button {
  color: #000;
  border: transparent;
  transition: all 0.5s;
  border-radius: 30px;
  padding: 8px 10px;
}
.product button:hover {
  background-position: right center;
  scale: 105%;
}
.product .nav-link.active {
  background-color: #35a22c;
}
.product .nav-item {
  border: 0.5px solid #000;
  border-radius: 8px;
  margin-left: 5px;
}
.product .card {
  transition: all 0.3s;
  position: relative;
  border: transparent;
  overflow: hidden;
  margin-bottom: 20px;
}
.product .card:hover {
  transform: scale(1.02);
}
.product .card .card-content {
  position: relative;
  transition: all 0.3s;
  border: 1px solid #539165;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}
.product .card .card-content:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.13);
}
.product .card .card-content .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #fff;
  background-color: rgba(18, 15, 15, 0.6);
}
.product .card .card-content .card-overlay:hover {
  opacity: 1;
  cursor: pointer;
  padding: 10px;
}
.product .card .card-content .card-overlay:hover .btnAddtoCart {
  bottom: 40px;
}
.product .card .card-content .card-overlay .overlay-title {
  margin-top: 5px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.product .card .card-content .card-overlay .product-detail {
  display: inline;
}
.product .card .card-content .card-overlay .product-detail:hover {
  color: greenyellow;
  border-bottom: 1px solid greenyellow;
}
.product .card img {
  width: 100%;
  padding: 20px 0;
}
.product .card .product-status {
  font-weight: 600;
  text-align: end;
  padding-right: 25px;
  color: #539165;
  flex-direction: column;
}
.product .card .rating span {
  color: #ffc107;
}
.product .card .card_body {
  padding: 18px;
}
.product .card .card_body .product-title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
}
.product .card .card_body .product-price {
  text-align: center;
}
.product .card .card_body .product-id {
  margin-left: 25px;
  display: inline;
  padding: 0 5px;
  border-radius: 6px;
  background-color: #f2dede;
}
.product .card .card_body .product-desc {
  margin-left: 25px;
  font-weight: 600;
  padding-top: 5px;
}
.product .card .card_body .nav-item {
  border: 1px solid #000;
}
.product .card .card_body .product-detail {
  display: inline;
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 0, 0, 0.8);
}
.product .card .card_body .product-detail:hover {
  color: #f2dede;
}

@media screen and (max-width: 992px) {
  .product .product__title h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .product .product__title h2 {
    font-size: 23px;
  }
  .product .nav-item {
    padding: 0 10px;
  }
  .product .nav-link {
    padding: 3px 3px;
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .product .col-12 {
    display: flex;
    justify-content: center;
  }
  .product .product-title {
    color: #000;
    font-size: 16px;
    font-weight: 600;
  }
  .product .nav-link {
    padding: 3px 3px;
    font-size: 13px;
  }
}
footer {
  background-color: #060508;
}
footer .footer_heading {
  color: #fff;
}
footer li {
  padding-top: 10px;
}
footer a {
  color: #948f8f;
}
footer a:hover {
  color: #fff;
}
footer P {
  color: #948f8f;
}
footer .footer_social {
  gap: 25px;
  font-size: 20px;
}
footer .footer_social i {
  color: #539165;
}
footer .footer_social i:hover {
  color: #fff;
  transform: scale(1.3);
}
footer input {
  width: 100%;
}
footer .btn {
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}
footer .btn:hover {
  transform: scale(1);
  color: #fff;
}
footer .footer-bottom span a {
  color: #539165;
}
footer .footer-bottom-left {
  margin-bottom: 1rem;
}
footer .footer-bottom-left ul {
  gap: 20px;
}

@media screen and (max-width: 992px) {
  footer li {
    padding-top: 8px;
  }
  footer .footer_heading {
    font-size: 20px;
  }
  footer .footer_social {
    gap: 20px;
    font-size: 20px;
  }
}
.cartBox {
  transition: all 0.3s ease;
  padding-bottom: 100px;
  position: fixed;
  overflow-y: scroll;
  top: 102px;
  right: 0;
  width: 40%;
  opacity: 1;
  height: 100%;
  background-color: #948f8f;
  border-top-left-radius: 10px;
  box-shadow: 1px 1px 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.cartBox .cart__header {
  background-color: #003f00;
  padding: 25px 0 3px 25px;
  color: #fff;
}
.cartBox .cart__header h2 {
  text-decoration: underline;
}
.cartBox .cart__header h2 i {
  margin-right: 10px;
  color: #ffc107;
}
.cartBox .cart_body .cart__product {
  padding: 10px;
  border-bottom: 1px #000;
}
.cartBox .cart_body .cart__product .productInCart {
  display: flex;
}
.cartBox .cart_body .cart__product .productInCart .imgProduct {
  width: 160px;
}
.cartBox .cart_body .cart__product .productInCart .imgProduct img {
  width: 100%;
}
.cartBox .cart_body .cart__product .infoProduct {
  padding: 5px 0 0 10px;
}
.cartBox .cart_body .cart__product .infoProduct .product-title {
  color: #003f00;
  font-size: 25px;
  font-weight: 600;
}
.cartBox .cart_body .cart__product .infoProduct .product-price {
  color: #000;
  font-size: 22px;
  font-weight: 900;
}
.cartBox .cart_body .cart__product .infoProduct .product-id {
  font-size: 20px;
}
.cartBox .cart_body .cart__product .quantity {
  display: flex;
  margin-left: 160px;
  font-weight: 700;
}
.cartBox .cart_body .cart__product .quantity p {
  padding-left: 10px;
  margin-right: 10px;
}
.cartBox .cart_body .cart__product .quantity button {
  width: 20px;
  height: 20px;
  line-height: 14px;
  font-size: 20px;
  border-radius: 100%;
}
.cartBox .cart__payment {
  height: 100px;
}
.cartBox .cart__payment h3 {
  color: #003f00;
  font-size: 40px;
  font-weight: 600;
}
.cartBox .cart__footer {
  height: 70px;
  background-color: #003f00;
  padding: 10px;
}
.cartBox .cart__footer .btnCartGr {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.cartBox .cart__footer button {
  width: 30%;
  height: 45px;
  font-size: 24px;
  padding: 0;
}
.cartBox .cart__footer button i {
  margin-right: 5px;
}

.cartClose {
  width: 0px;
  opacity: 0;
}

.cartBlur {
  width: 100%;
  height: 100vh;
  background-color: rgba(222, 184, 135, 0.384);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.blurDisplay {
  display: none;
}/*# sourceMappingURL=main.css.map */